
@import "base";
@import "compass/css3";

// Primary Tabs
ul.primary {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  @include clearfix();
  li {
    margin-right:5px;
    margin-bottom:-1px;
    margin:0 8px -1px 0;
    float: left;
    a {
      display: block;
      padding: 0 15px;
      margin-right: 2px;
      line-height: 2em;
      @include border-radius(4px 4px 0 0);
      text-decoration:none;
      font-size:90%;
      background:#f6f6f6;
      border: 1px solid #e6e6e6;
      border-bottom-color:#ccc;
      &:hover,
      &:focus      {
        text-decoration: none;
        background-color: #eee;
      }
    }
    &.active a {
      background-color: #fff;
      border-bottom-color: transparent;
      &:hover,
      &:focus {
        background:#f6f6f6;
      }
    }
  }
}

// Secondary tabs (local tasks)
ul.secondary {
  list-style: none;
  margin: 0 0 20px 0;
  padding:0;
  li {
    display:inline;
    margin:0;
    padding:0;
    a {
      margin: 5px 3px 5px 0;
      text-decoration: none;
      font-size:90%;
      padding: 5px 15px;
      background:#e6e6e6;
      line-height: 2.8em;;
      @include border-radius(15px);
      &:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
    &.active a {
      color: #f3f3f3;
      background:#444;
    }
  }
}

// Breadcrumbs

nav.breadcrumb {
  margin-bottom: 20px;
  padding: 7px 14px;
  background-color:#f7f7f7;
  @include background-image(linear-gradient(#ffffff, #f5f5f5));
  border: 1px solid #ccc;
  @include border-radius(3px);
  @include magic-border(1);
  font-weight:normal;
  a {
    text-decoration:none;
    font-weight:normal;
  }
}


// Default page styling, decide for your theme if it should float left or right
// default is left

$pagerheight: 2.5em;

.item-list {
  @include clearfix;
}

.block ul.pager {
  height: $pagerheight;
  margin: 1.4em 0;
  float: left;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  @include border-radius(3px);
  @include box-shadow(0 1px 2px rgba(0,0,0,.05));
  font-size:90%;
  list-style:none;
  li {
    display: inline;
    float: left;
    line-height: $pagerheight;
    border-right: 1px solid;
    border-right-color: #ccc;
    border-right-color: rgba(0,0,0,.15);
    *border-right-color: #ccc; /* IE6-7 */
  }
  a,
  .pager-current  {
    float: left;
    text-decoration: none;
    line-height: $pagerheight;
    padding: 0 14px;
  }
  a:hover,
  a:focus  {
    background-color: #f6f6f6;
  }
  .pager-last {
    border: 0;
  }
}