
@import "compass/css3";

/**
 * Default Layout
 */
html,
body {
  width:100%;
  height:100%;
}

.mast {
  position: relative;
  margin: 0 auto;
  width: 960px;
  width:90%;
}

.wrap-columns {
  width:100%;
  position:relative;
}

.content-column,
.region-sidebar-first,
.region-sidebar-second {
  float: left;
  word-wrap:break-word;
}

.content-column {
  width:100%;
}

.two-sidebars .main {
  margin: 0 20%;
}

.sidebar-first .main {
  margin-left: 20%;
}

.sidebar-last .main {
  margin-right: 20%;
}

.region-sidebar-first {
  width: 20%;
  margin-left: -100%;
}

.region-sidebar-second {
  width: 20%;
  margin-left: -20%;
}

/**
 * Responsive images
 */

img {
  max-width:100%;
  height:auto;
}

/* Override max-width 100% for Gmaps & Getlocations*/
.gmap img,
#getlocations_map_canvas img {
max-width: none;
}

/**
 * Attribution link
 */

.arctica-attr-link {
  @include opacity(0.3);
  text-align:center;
  clear:both;
  padding:0.5em 0;
  font-size:90%;
  color: #444;
  a,
  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active,{
    color: #444;
  }
}

/**
 * Arctica skinr skins
 */
// We load the css here and not via skinr so that one could also use alternative
// methods such as block_class module or simply in theme-specific stylesheets


.arctica-left-content .grid-inner {
  text-align: left; /* LTR */
}

/* required to override drupal core */
.arctica-left-content #user-login-form {
  text-align: left; /* LTR */
}

.arctica-center-content .grid-inner {
  text-align: center;
}

.arctica-center-content .grid-inner ul.menu {
  display: inline-block;
  text-align: center;
}

/* required to override drupal core */
.arctica-center-content #user-login-form {
  text-align: center;
}

.arctica-right-content .grid-inner {
  text-align: right; /* LTR */
}

/* required to override drupal core */
.arctica-right-content #user-login-form {
  text-align: right; /* LTR */
}

.arctica-rounded .grid-inner {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow:hidden;
}

.arctica-rounded-small .grid-inner {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow:hidden;
}

.arctica-rounded-large .grid-inner {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow:hidden;
}

.arctica-rounded-xlarge .grid-inner {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  overflow:hidden;
}

.arctica-icon-block .grid-inner,
.arctica-icon-block-right .grid-inner {
  position:relative;
}

.arctica-icon-block .block-title {
  padding-left:55px;
}

.arctica-icon-block-right .block-title {
  padding-right:55px;
  padding-left:0;
}

.arctica-icon-block  .block-icon {
  position:absolute;
  top:0;
  left:0;
}

.arctica-icon-block-right .block-icon {
  left:auto;
  right:0;
}

.arctica-xsmall {
  font-size:75%;
  line-height:1.3em;
}

.arctica-small {
  font-size:90%;
  line-height:1.3em;
}

.arctica-large {
  font-size:125%;
  line-height:1.3em;
}

.arctica-xlarge {
  font-size:150%;
  line-height:1.3em;
}

.arctica-xxlarge {
  font-size:200%;
  line-height:1.3em;
}

.arctica-xxxlarge {
  font-size:230%;
  line-height:1.3em;
}

.arctica-bold .content {
  font-weight:bold;
}

.arctica-italic .content {
  font-style:italic;
}

.arctica-underlined .content {
  text-decoration:underline;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.float-none {
  float:none;
}

/**
 * Multi column lists
 */


/* Split list across multiple columns */
.arctica-2-col-list ul,
.arctica-3-col-list ul {
  margin:0;
  padding:0;
}

.arctica-2-col-list ul li,
.arctica-3-col-list ul li {
  float: left;
  width: 50%;
  margin:0;
  padding:0;
  list-style:none;
  list-style-type:none;
}

.arctica-3-col-list ul li {
  width: 33%;
}